extends main.pug

append head
  <!-- start documentation.pug head append -->
  script(src= fileRoot + "node_modules/lavu-details-polyfill/lib/index" + jsExt)
  script(src= fileRoot + "node_modules/pliny/pliny" + jsExt)
  script(src= fileRoot + "Primrose" + jsExt)
  script(src= fileRoot + "Primrose.doc.js")
  <!-- end documentation.pug head append -->

append header
  h1 Documentation

block main
  <!-- start documentation.pug main block -->
  #top
  #contents
    nav
      ul
        li: a(href=fileRoot + "doc/readme.html") Installation &amp; Setup
        li: a(href=fileRoot + "doc/contributing.html") Contributing
        li: a(href=fileRoot + "doc/changelog.html") Change Log
        li: a(href=fileRoot + "doc/steamVRDongles.html") Pairing Multiple SteamVR Controllers
        li: a(href=fileRoot + "doc/gitLFS.html") Setting up Git LFS
  #documentation: section: article
    <!-- start documentation.pug documentation block -->
    block document
    <!-- end documentation.pug documentation block -->
  <!-- end documentation.pug main block -->

append footer
  script(src="app.js")
